header {
    display: flex;
    width: 100%;
    flex: content;
    flex-flow: row nowrap;
    background: var(--bg-color-2);
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 200;
}

.logo {
    padding: 1%;
    font-size: var(--fs-h3);
}