@import "global.css";

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-primary), Fallback, var(--font-backup);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

header {
    display: flex;
    width: 100vw;
    flex: content;
    flex-flow: row nowrap;
    background: var(--bg-color-2);
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    margin: 0;
    padding: 0;
}

.logo {
    padding: 1vw;
    font-size: var(--fs-h3);
}

.nav {
    display: none;
}

.nav-toggle {
    padding: 1vw;
    background: transparent;
    border: none;
}

.nav-toggle:hover {
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    background: var(--bg-color-4);
    height: 2px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger::before {
    top: 8px;
}

.hamburger::after {
    bottom: 8px;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}