.nav {
    display: none;
    position: fixed;
    width: 0;
    top: 0;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
    right: 0px;
    background: var(--bg-color-2);
    transition: display .15s ease-in-out;
    z-index: 100;
    margin: 0;
}

.nav-item {
    border-bottom: 1px solid var(--border-color);
    list-style-type: none;
    text-align: left;
    margin-left: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.nav-item:last-child {
    border-bottom: none !important;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--fs-h3);
    transition: color .15s ease-in-out;
}

.nav-link:hover {
    color: var(--accent-color);
}